{% extends './catalog_base.html' %}

{% block page_title %}{% endblock %}

{% block main_content %}

<main id="tower_records_heroimg" class="container-fluid">
    <div class="p-4 p-md-5 mb-4">
        <div class="col-md-8">
            <h1 id="tower_records_banner_text" class="display-6">Specialists in music, film, hi-fi and more!</h1>
            <div class="py-4"><a class="btn btn-dark btn-lg" href="#" data-scroll="">SHOP NOW<i class="ci-arrow-down-circle ms-2"></i></a></div>
        </div>
    </div>
</main>

{% endblock %}