{% extends './catalog_base.html' %}

{% block page_title %}{% endblock %}

{% block main_content %}

<main id="tower_records_heroimg" class="container-fluid">
    <div class="p-4 p-md-5 mb-4">
        <div class="col-md-8">
            <h1 id="tower_records_banner_text" class="display-6">Specialists in music, film, hi-fi and more!</h1>
            <div class="py-4"><a class="btn btn-dark btn-lg" href="#" data-scroll="">SHOP NOW<i class="ci-arrow-down-circle ms-2"></i></a></div>
        </div>
    </div>
</main>

<div class="album py-5">
    <div class="container">
        <div class="pb-3 h5"></div>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{{ product.product_image.url }}" alt="Product Cover">

                    <div class="card-body">
                        <p class="card-text">
                            <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">{{ product.product_title }}</a>
                        </p>
                    </div>
                </div>
            </div>

        {% endfor %}

       </div> 
    </div>
</div>

{% endblock %}